body {
  background-color: rgb(38, 39, 40);
  color: rgb(183, 183, 172);
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

.required_input {
  border-style: solid;
  border-color: red;
  border-radius: 5px;
}

a {
  color: blue;
  cursor: pointer;
}
