body {
  background-color: #121214;
  background-image: url("../../assets/images/arabesque4.png");
  /* color: rgb(183, 183, 172); */
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* background: linear-gradient(to right, rgba(18, 18, 20, 0) 0%, rgb(18, 18, 20) 10%, rgb(18, 18, 20) 90%, rgba(23, 23, 26, 0) 100%); */
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

@font-face {
  font-family: Texgyre;
  src: url('../../assets/fonts/texgyretermes-regular.otf') format('truetype');
}

@font-face {
  font-family: Courier;
  src: url('../../assets/fonts/Courier_Prime.ttf') format('truetype');
}

.mainContent {
  background-color: rgb(18, 18, 20);
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(18, 18, 20, 0.45) 0%, rgb(18, 18, 20) 15%, rgb(18, 18, 20) 85%, rgba(23, 23, 26, 0.45) 100%);
}

.dinamicPage{
  max-width: 76rem;
  margin: auto;
  padding: 1rem 3rem 5rem 3rem;
}


/* Main Tabs page styles ================================================ */

.tabInactive{
  font-family: Courier;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  background: linear-gradient(180deg, #2D333B 50%, #121214 95%);
}

.mainTabs {
  margin-top: 1rem;
}

.innerContent {
  border: solid #565f6a;
  border-width: 1px;
  border-radius: 5px;
  background-color: #121214;
  padding: 2rem;
}

.tabActive {
  font-family: Courier;
  background-color: #121214;
  border: solid #565f6a; 
  margin-bottom: -6px;
  border-width: 1px;
  border-bottom: transparent;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.backArrow {
  /* color: #e1e5eb; */
  font-size: larger;
  margin-top: -15px;
}

.backArrow :hover {
  color: #0a62ce;
}

/* welcome page styles ================================================ */
.welcome {
  text-align: center;
}

.app-title {
  font-family: Playfair;
  font-weight: normal;
  font-style: normal;
  font-size: 5em;
  margin: 0;
}

.app-subtitle {
  margin-top: 0;
}

.newProjetcBtn {
  margin-top: 3em;
}

.fullwidth {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
  background-color: #444C56;
  color: aliceblue;
}

.projectsList {
  
  display: flex;
  flex-direction: column;
  /* gap: var(--space-spacingMd); */
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
  /* margin-bottom: 0px; */
  padding-inline-start: 0px;
  padding: 0rem 3rem 0rem 3rem;
}

.projectsItens {
  
  min-width: 100%;
  max-width: 100%;
  /* box-sizing: border-box;
  border: solid #e1e5eb;
  border-width: 1px; */
  padding-top: 0.75rem;
}

.projectsName {
  /* padding: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px;
  border-color: #565f6a;
  border-radius: 4px;
  background: linear-gradient(90deg, rgb(32, 32, 36) 0%, rgb(23, 23, 26) 100%);
  transition: background 200ms ease 0s;
  width: 100%;
  box-shadow:  0 1px 4px 0 #0000001a;
  flex-wrap: wrap;
  }

  *, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e1e5eb;
  }

.projectsName:hover {
  border: solid 1px;
  border-radius: 4px;
  border-color: #0a62ce;
}

.projectTitle{
  margin: 1px;
  margin-bottom: 1.2rem;
  font-size: x-large;
  z-index:1;
}

.projectCreated {
  margin-top: -1em;
  font-size: smaller;
}

.cards {
  text-align: center;
  margin-right: 1rem;
}

.projectStatus{
  font-size: smaller;
  color: black;
  padding: 0px 5px;
  border-radius: 12px;
}

.novo {
  color: white;
  border: solid #565f6a;
  border-width: 1px;
  background-color: #444C56;
}

.outro {
  color: white;
  border: solid #565f6a;
  border-width: 1px;
  background-color: #444C56;
}

.concluído {
  border: solid green;
  border-width: 1px;
  background-color: #5FD149;
}

.andamento {
  border: solid #1f2f48;
  border-width: 1px;
  background-color: #437895;
}

.pausado {
  border: solid coral;
  border-width: 1px;
  background-color: chocolate;
}

.coverImage {
  width: 300px;
  object-fit: cover;
  max-height: 80px;
  object-position: 0% 50%;
-webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.cardsImage {
  z-index:0;
  width: 150px;
  object-fit: none;
  max-height: 80px;
  max-width: 300px;
  object-position: 0% 50%;
-webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

/* .zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.08);
} */

/* Project Edit Infos page styles ================================================ */

.editProjectMain {
  max-width: 55em;
  margin: auto;
  color: #898989;
}

.editProjectTable {
  display: flex;
  justify-content: flex-start;
  /* margin: 1rem; */
}

.editProjectBlock {
  margin-right: 1rem;
}

.editProjectBlock h3 {
  margin-bottom: 5px;
}


.editProjectSpan{
  font-size: small;
  margin-top: -10px;
}

.editProjectTitle {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 2rem;
  background: rgb(18, 18, 20);
  border-color: rgb(18, 18, 20);
  color: rgb(255, 255, 255);
  padding: 0px 1em 0px 0.65em;
  border-radius: 5px;
}

.card{
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 5px;
  background-color:#202024;
  background: linear-gradient(90deg, rgb(32, 32, 36) 0%, rgb(23, 23, 26) 100%);
  transition: background 200ms ease 0s;
  padding: 1rem 2rem;
  opacity: 0.9;
  margin: 1rem;
  /* font-family: Verdana, Geneva, sans-serif; */
}

.cardInputNormal {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background: rgb(18, 18, 20);
  border-color: rgb(18, 18, 20);
  color: rgb(255, 255, 255);
  padding: 0px 1em 0px 0.65em;
  border-radius: 5px;
}

.projectInputResume {
  height: 100px;
  padding: 1rem;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.delete {
  text-align: right;
  margin-bottom: -10px;
}
.delete :hover {
  color: red;
}

.btnSmall {
  margin-top: 1rem;
  margin-right: 1rem;

}



/* ========================================================================= */

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

.required_input {
  border-style: solid;
  border-color: red;
  border-radius: 5px;
}

a {
  cursor: pointer;
}



/* The Modal (background) */
/* .modal {
position: absolute; height: auto; width: 600px; top: 160.081px; left: 367.48px;
} */

/* Modal Content */
/* .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} */

/* The Close Button */
/* .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */