<div class="editCard">
  <div class="backArrow">
    <a onclick="pageChange('#dinamic', 'pages/mundo/page.html', 'pages/mundo/script.js')">❮ voltar</a>
  </div>
  <div class="PreviousAndNext">
    <div>
      <div>⮜ Anterior
        <div class="dashboard-divisor" style="margin: 5px 0px;"></div>
        <div id="PreviousDiv" class="PreviousScene" ></div>
      </div>
    </div>
    <div>
      <div style="text-align: right;">Próximo ➤
        <div class="dashboard-divisor" style="margin: 5px 0px;"></div>
        <div id="NextDiv" class="NextScene"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <input class="editProjectTitle projectInputForm" id="title">
    <p class="delete"><span class="ui-icon ui-icon-trash"></span><a id="deleteWorldCard"> Excluir</a></p>

    <div id="imageCardBackgournd">
      <div>
        <img src="" id="image_card">
      </div>
    </div>

    <div class="editProjectTable">
      <div class="editProjectBlock">
        <h3>Categoria:</h3>
        <select class="projectInputForm ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button-select ui-widget" id="category">
        </select>
      </div>
      <div id="div_Date" class="editProjectBlock" style="display: none">
        <h3>Data do fato:</h3>
        <input class="cardInputNormal projectInputForm dateFactInputForm" id="date" type="date"> 
      </div>
    </div>
    <div>
      <h3>Conteúdo:</h3>
      <textarea class="cardInputNormal projectInputForm projectInputResume" type="textarea" rows="8" id="content" oninput="autoGrow(this)"></textarea>
    </div>
  
  </div>
  <div class="cardAddimg">
    <h3>Imagem:</h3>
      <input type="file" id="my-image" class="inputFile ui-corner-all ui-widget">
      <div>
        <input id="btnSaveWall" type="button" value="Atualizar imagem" class="ui-button ui-corner-all btnSmall" onclick="saveCardImage('world', '#dinamic', 'components/world/page.html', 'components/world/script.js')">
        <input type="button" value="Limpar imagem" class="ui-button ui-corner-all btnSmall" onclick="deleteImageCard('world', '#dinamic', 'components/world/page.html', 'components/world/script.js')">
      </div>
  </div>
</div>

<!-- ui-dialog -->
<div id="dialog-delete-world" title="Excluir cartão">
    <h4>
      Tem certeza que deseja deletar este cartão?
    </h4>
</div>
