<button class="navtrigger ui-button ui-corner-all ui-widget" onclick="loadpage('welcome')"
data-trigger="hover">Projetos</button>
<button class="navtrigger ui-button ui-corner-all ui-widget" onclick="loadpage('personagens')"
data-trigger="hover">Personagens</button>
<button class="navtrigger ui-button ui-corner-all ui-widget" onclick="loadpage('mundo')"
data-trigger="hover">Mundo</button>
<button class="navtrigger ui-button ui-corner-all ui-widget" onclick="loadpage('timeline')"
data-trigger="hover">Linha do tempo</button>
<button class="navtrigger ui-button ui-corner-all ui-widget" onclick="loadpage('trama')"
data-trigger="hover">Trama</button>
<button class="navtrigger ui-button ui-corner-all ui-widget" onclick="loadpage('notas')"
data-trigger="hover">Notas</button>