<button class="navtrigger ui-button ui-corner-all ui-widget" data-action="personagens" data-container="body"
data-trigger="hover"><i>Personagens</i></button>
<button class="navtrigger ui-button ui-corner-all ui-widget" data-action="mundo" data-container="body"
data-trigger="hover"><i>Mundo</i></button>
<button class="navtrigger ui-button ui-corner-all ui-widget" data-action="timeline" data-container="body"
data-trigger="hover"><i>Linha do tempo</i></button>
<button class="navtrigger ui-button ui-corner-all ui-widget" data-action="trama" data-container="body"
data-trigger="hover"><i>Trama</i></button>
<button class="navtrigger ui-button ui-corner-all ui-widget" data-action="notas" data-container="body"
data-trigger="hover"><i>Notas</i></button>