<div class="edirCardWorld">
  <div class="backArrow">
    <a onclick="pageChange('#dinamic', 'pages/personagens/page.html', 'pages/personagens/script.js')">❮ voltar</a>
  </div>
  <div class="card">
    <input class="editProjectTitle projectInputForm" id="title">
    <p class="delete"><span class="ui-icon ui-icon-trash"></span><a id="deleteWorldCard"> Excluir</a></p>
    <div class="cardImageDivChar">
      <div id="imageCardBackgourndChar">
        <img src="" id="image_card">
      </div>
      <div class="editProjectTable charInfos">
        <div class="editProjectBlock">
          <h3>Categoria:</h3>
          <select class="projectInputForm ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button-select ui-widget" id="category"></select>
          <div class="colorAgeChar">
            <div>
              <h3>
                Idade:
              </h3>
              <input class="cardInputNormal dateFactInputForm projectInputForm" type="number" min="0" oninput="validity.valid||(value='')" id="age">
            </div>
            <div>
              <h3>
                Cor:
              </h3>
              <input type="color" id="color" class="color projectInputForm">
            </div>
            <div>
              <h3>
                <br>
              </h3>
              <input type="button" value="↻" class="btnReload ui-corner-all" title="Gerar aleatoriamente uma cor" onclick="randomColor()">
            </div>
          </div>
        </div>
        <div class="editProjectBlock">
          <h3>Gênero: <span class="ui-icon ui-icon-help" style="cursor: pointer
            " title="Novos gêneros podem ser cadastrados na aba 'opções'"></span></h3>
          <select class="projectInputForm ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button-select ui-widget"name="" id="gender"></select>
          <h3>Ocupação:</h3>
          <input class="projectInputForm cardInputNormal dateFactInputForm" type="text" name="" id="ocupation">
        </div>
        <div id="div_Date" class="editProjectBlock">
          <h3>Nascimento:</h3>
          <input class="cardInputNormal projectInputForm dateFactInputForm" id="date_birth" type="date" placeholder="Nascimento">
          <div style="display: none" id="dateDeathDiv">
            <h3>Morte:</h3>
            <input class="cardInputNormal projectInputForm dateFactInputForm" type="date" id="date_death">
          </div>
          <label>
            <input type="checkbox" onclick="showHideDate(this)" id="chkDeath">
            Adicionar data da morte
          </label>
        </div>
      </div>
    </div>
    <div>
      <h3>Conteúdo:</h3>
      <textarea class="cardInputNormal projectInputForm projectInputResume" type="textarea" rows="8" id="content" oninput="auto_grow(this)"></textarea>
    </div>
  </div>
  <div class="card">
    <h3>Imagem:</h3>
      <input type="file" id="my-image" class="inputFile ui-corner-all ui-widget">
      <div>
        <input id="btnSaveWall" type="button" value="Atualizar imagem" class="ui-button ui-corner-all btnSmall" onclick="saveCardImage('characters', '#project-list', 'components/detailCharacter/page.html', 'components/detailCharacter/script.js')">
        <input type="button" value="Limpar imagem" class="ui-button ui-corner-all btnSmall" onclick="deleteImageCard('characters', '#project-list', 'components/detailCharacter/page.html', 'components/detailCharacter/script.js')">
      </div>
  </div>
</div>

<!-- ui-dialog -->
<div id="dialog-delete-char" title="Excluir cartão">
    <h4>
      Tem certeza que deseja deletar este cartão?
    </h4>
</div>
