<div class="tab">
  <div class="innerTabDefault">
    <p class="extraInfosTab">Adicionar:</p>
    <button id="addRelation" class="btnExtra ui-button ui-corner-all">Relacionamentos</button>
    <input type="checkbox" name="" id="checkboxFullName"><label class="extraInfosTab" for="checkboxFullName">Nome completo<br></label>
    <input type="checkbox" name="" id="checkbox-date-birth"><label class="extraInfosTab" for="checkbox-date-birth">Data de Nascimento<br></label>
    <input type="checkbox" name="" id="checkbox-date-death"><label class="extraInfosTab" for="checkbox-date-death">Data da morte<br></label>
    <input type="checkbox" name="" id="checkboxExtra_1"><label class="extraInfosTab" for="checkboxExtra_1">Características<br></label>
    <input type="checkbox" name="" id="checkboxExtra_2"><label class="extraInfosTab" for="checkboxExtra_2">Jornada<br><label>
    <input type="checkbox" name="" id="checkboxExtra_3"><label class="extraInfosTab" for="checkboxExtra_3">Dualidade<br><label>
  </div>
  <div class="editCard">
    <div class="backArrow">
      <a onclick="pageChange('#dinamic', 'pages/personagens/page.html', 'pages/personagens/script.js')">❮ voltar</a>
    </div>
    <div class="card">
      <input class="editProjectTitle projectInputForm" id="title">
      <div id="fullNameDiv" style="display: none;">
        <input class="projectInputForm cardInputNormal" id="nameFull" style="margin-top: 5px; height: 25px; text-align: center" placeholder="Nome completo">
      </div>
      <p class="delete"><span class="ui-icon ui-icon-trash"></span><a id="deleteCharCard"> Excluir</a></p>
      <div class="cardImageDivChar">
        <div id="imageCardBackgourndChar">
          <img src="assets/images/person.png" id="image_card" class="cardImageChar">
        </div>
        <div class="editProjectTable charInfos">
          <div class="editProjectBlock">
            <h3>Categoria:</h3>
            <select class="projectInputForm ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button-select ui-widget" id="category"></select>
            <div class="colorAgeChar">
              <div>
                <h3>
                  Idade:
                </h3>
                <input class="cardInputNormal dateFactInputForm projectInputForm" type="number" min="0" oninput="validity.valid||(value='')" id="age">
              </div>
              <div>
                <h3>
                  Cor:
                </h3>
                <input type="color" id="color" class="color projectInputForm">
              </div>
              <div>
                <h3>
                  <br>
                </h3>
                <input type="button" value="↻" class="btnReload ui-corner-all" title="Gerar aleatoriamente uma cor" onclick="randomColor()">
              </div>
            </div>
          </div>
          <div class="editProjectBlock">
            <h3>Gênero:</span></h3>
            <select class="projectInputForm ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button-select ui-widget"name="" id="gender"></select>
            <h3>Ocupação:</h3>
            <input class="projectInputForm cardInputNormal dateFactInputForm" type="text" name="" id="ocupation">
          </div>
          <div id="div_Date" class="editProjectBlock">
            <div style="display: none" id="dateBirthDiv">
              <h3>Nascimento:</h3>
              <input class="cardInputNormal projectInputForm dateFactInputForm" id="date_birth" type="date" placeholder="Nascimento">
            </div>
            <div style="display: none" id="dateDeathDiv">
              <h3>Morte:</h3>
              <input class="cardInputNormal projectInputForm dateFactInputForm" type="date" id="date_death">
            </div>
          </div>
        </div>
      </div>
      <div>
        <div id="relationsList" class="realtionList"></div>
        <fieldset id="info_extra_1" style="display: none;">
          <legend style="margin-bottom: 0px;">Características:</legend>
          <div style="display: flex;">
            <div style="width: 100%;; margin-right: 15px;">
              <p style='font-size: medium; margin: 1px 1px;'>físicas</p>
              <textarea class='cardInputNormal projectInputForm projectInputResume' placeholder="olhos - cabelo - pele - biotipo - marca de nascença - modificações corporais - defeito físico" type='textarea' rows='4' id='extra_1' oninput='autoGrow(this)'></textarea>
            </div>
            <div style="width: 100%">
              <p style='font-size: medium; margin: 1px 1px;'>Psicologias</p>
              <textarea class='cardInputNormal projectInputForm projectInputResume' placeholder="humor - medos - atração - aversão - fé - ideologia - traumas - inteligência" type='textarea' rows='4' id='extra_1_1' oninput='autoGrow(this)'></textarea>
            </div>
          </div>
        </fieldset>
        <fieldset id="info_extra_2" style="display: none;">
          <legend style="margin-bottom: 0px;">Jornada:</legend>
          <p style='font-size: medium; margin: 1px 1px;'>Motivação</p>
          <textarea class='cardInputNormal projectInputForm projectInputResume' type='textarea' rows='1' id='extra_2' oninput='autoGrow(this)'></textarea>
          <p style='font-size: medium; margin: 1px 1px;'>Conflito</p>
          <textarea class='cardInputNormal projectInputForm projectInputResume' type='textarea' rows='1' id='extra_2_1' oninput='autoGrow(this)'></textarea>
          <p style='font-size: medium; margin: 1px 1px;'>Transformação</p>
          <textarea class='cardInputNormal projectInputForm projectInputResume' type='textarea' rows='1' id='extra_2_2' oninput='autoGrow(this)'></textarea>
        </fieldset>
        <fieldset id="info_extra_3" style="display: none;">
          <legend style="margin-bottom: 0px;">Dualidade:</legend>
          <div style="display: flex;">
            <div style="width: 100%;; margin-right: 15px;">
              <p style='font-size: medium; margin: 1px 1px;'>Interior</p>
              <textarea class='cardInputNormal projectInputForm projectInputResume' placeholder="Como o personagen é quando esta sozinho" type='textarea' rows='4' id='extra_3' oninput='autoGrow(this)'></textarea>
            </div>
            <div style="width: 100%">
              <p style='font-size: medium; margin: 1px 1px;'>Exterior</p>
              <textarea class='cardInputNormal projectInputForm projectInputResume' placeholder="Como o personagen se aprensente para os outros" type='textarea' rows='4' id='extra_3_1' oninput='autoGrow(this)'></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div>
        <h3>Conteúdo:</h3>
        <textarea class="cardInputNormal projectInputForm projectInputResume" type="textarea" rows="8" id="content" oninput="autoGrow(this)"></textarea>
      </div>
    </div>
    <div class="cardAddimg">
      <h3>Imagem:</h3>
        <input type="file" id="my-image" class="inputFile ui-corner-all ui-widget">
        <div>
          <input id="btnSaveWall" type="button" value="Atualizar imagem" class="ui-button ui-corner-all btnSmall" onclick="saveCardImage('characters', '#dinamic', 'components/detailCharacter/page.html', 'components/detailCharacter/script.js')">
          <input type="button" value="Limpar imagem" class="ui-button ui-corner-all btnSmall" onclick="deleteImageCard('characters', '#dinamic', 'components/detailCharacter/page.html', 'components/detailCharacter/script.js')">
        </div>
    </div>
  </div>
</div>

<!-- ui-dialog -->
<div id="dialog-delete-char" title="Excluir cartão">
    <h4>
      Tem certeza que deseja deletar este cartão?
    </h4>
</div>

<div id="myModalCharacterRelations" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div style="text-align: center;">
      <h3>Personagem</h3>
      <select id="relationListSelect" class="projectInputForm ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button-select ui-widget"></select>
      <h3>Tipo de relação:</h3>
      <input id="relationDescription" class="cardInputNormal dateFactInputForm" type="text" placeholder="amigo, pai, irmão, escudeiro, ajudante...">
      <br>
      <button onclick="saveRelation()" class="ui-button ui-corner-all backupModal">Adicionar</button>
  </div>
</div> 