<div>
  <h3 id="CharModeTitle">Novo personagem</h3>
  <button id="editDetail" onclick="hasChanged()">Voltar</button>
  <button id="modalBtn"  onclick="addItemModal()">Adicinar característica</button>
  <form id="form">
    <div class="charID" id="no"></div>
    <label for="name">Nome </label>
    <input class="charFormInput" type="text" name="name" id="name" class="teste">
    <label for="age">Idade</label>
    <input class="charFormInput" type="number" name="age" id="age" class="teste">
    <label for="birth">Nascimento</label>
    <input class="charFormInput" type="date" name="birth" id="birth" class="teste" timezone="[[timezone]]">
    <label for="type">Tipo de personagem:
      <select class="charFormInput" id="type" name="type">
        <option value="Principal">Principal</option>
        <option value="Secundário">Secundário</option>
        <option value="Terciário">Terciário</option>
      </select>
    </label>
    <label for="resume">Resumo</label>
    <input class="charFormInput" type="text" name="resume" id="resume">
    <input type="button" id="salvar" onclick=AddNewCharacter() value="SALVAR">
  </form>
  <!-- The Modal -->
  <div id="myModal" class="modal ">
    <!-- Modal content -->
    <div class="modal-content">
      <form id="modalForm ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable">
        <span class="close">&times;</span>
        <p>Adicinar nova caracteristica</p>
        <label for="nameItem">Nome:</label>
        <input type="text" id="nameItem">
        <P>Tipo de campo:</P>
        <label for="itemText">Texto</label>
        <input type="radio" name="typeItem" value="text">
        <label for="itemNumber">Núemro</label>
        <input type="radio" name="typeItem" value="number">
        <label for="itemDate">Data</label>
        <input type="radio" name="typeItem" value="date">
        <button id="modalSave" onclick="saveNewItem()">Salvar</button>
      </form>
    </div>
  </div>

  <!-- <div tabindex="-1" role="dialog" style="position: absolute; height: auto; width: 600px; top: 160.081px; left: 367.48px;" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable" aria-describedby="dialog" aria-labelledby="ui-id-1"><div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle"><span id="ui-id-1" class="ui-dialog-title">Novo projeto</span><button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close"><span class="ui-button-icon ui-icon ui-icon-closethick"></span><span class="ui-button-icon-space"> </span>Close</button></div><div id="dialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 2.288px; max-height: none; height: auto;">
    <div class="welcome">
      <p>Título do projeto: </p>
      <form id="form">
        <input type="text" id="projectName" class="welcome text ui-corner-all fullwidth">
      </form>
    </div>
      <h6>
        Ao adicionar um novo projeto, você concorda que esta ciente dos termos de uso.
      </h6>
  </div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <div class="ui-dialog-buttonset">
        <button type="button" id="okBtn" class="ui-button ui-corner-all ui-widget ui-button-disabled ui-state-disabled">Ok</button>
        <button type="button" class="ui-button ui-corner-all ui-widget">Cancel</button>
      </div>
    </div>
    <div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;">
    </div><div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
    <div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
  </div> -->

</div>
