<div class="edirCardWorld">
  <div class="backArrow">
    <a onclick="pageChange('#dinamic', 'pages/estrutura/page.html', 'pages/estrutura/script_chapters.js')">❮ voltar</a>
  </div>
  <div class="card">
    <input class="editProjectTitle projectInputForm" id="title">
    <p class="delete"><span class="ui-icon ui-icon-trash"></span><a id="deleteChapterCard"> Excluir</a></p>

    <div class="editProjectTable">
    </div>
    <div>
      <h3>Resumo:</h3>
      <textarea class="cardInputNormal projectInputForm projectInputResume" type="textarea" rows="8" id="content" oninput="auto_grow(this)"></textarea>
      <div class="editProjectBlock" id="scenes_list"></div>
      <h3>Conteúdo:</h3>
      <textarea class="cardInputNormal projectInputForm projectInputResume" type="textarea" rows="8" id="content_full" oninput="auto_grow(this)"></textarea>
    </div>
  
  </div>
</div>

<!-- ui-dialog -->
<div id="dialog-delete-chapter" title="Excluir cartão">
    <h4>
      Tem certeza que deseja deletar este cartão?
    </h4>
</div>


<!-- Add char-dialog -->
<div id="dialog-addScenetoChap" title="Adicionar cenas ao capítulo">
  <p>Marque para adicionar/remover:</p>
  <form id="scenesToChapter"></form>
</div>